<form name="dataForm1" novalidate ng-submit="submitDialogForm(dataForm1.$valid)">
    <div class="modal-body form-horizontal form" ng-click="formclick()">
        <div class="form-body portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-page1 iconfont font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">{{editData?(formDisabled?'查看':'编辑'):'新增'}}用户</span>
                </div>
                <div class="tools">
                    <i class="iconfont icon-guanbi" ng-click="cancel()"></i>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row">

                        <div class="col-md-6  margin-top-15">
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.username.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    用户名
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.username" name="username" db-validator="required" ng-maxlength="100" class="form-control" placeholder="用户名" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.username.$invalid && submited ">{{$dbForm.username.msg}}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.email.$invalid && submited }">
                                <label  class="col-md-3 control-label">
                                    邮箱
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="email" ng-model="data.email" name="email" db-validator="required email" ng-maxlength="100" class="form-control" placeholder="邮箱" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.email.$invalid && submited ">{{$dbForm.email.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.credentialExpiredDate.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    密码有效期
                                </label>
                                <div class="col-md-9">
                                   <!-- <div class="input-group">
                                        <input type="date" data-date-format="yyyy-mm-dd"  ng-model="data.credentialExpiredDate" name="credentialExpiredDate" class="form-control" placeholder="密码有效期" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.credentialExpiredDate.$invalid && submited ">{{$dbForm.credentialExpiredDate.msg}}</span>
                                        &lt;!&ndash;<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>&ndash;&gt;
                                    </div>-->

                                        <date-time></date-time>

                                    <!--<div class="input-group input-append date" id="datetimepicker" data-date="2012-02-12" data-date-format="yyyy-mm-dd hh:ii">
                                        <input id="date" class="span2" size="16"  type="text" readonly value="2012-02-12">
                                        <span class="add-on"><i class="icon-th"></i></span>
                                    </div>-->

                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.accountExpiredDate.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    账户有效期
                                </label>
                                <div class="col-md-9">
                                   <!-- <div class="input-group input-append date">
                                        <input type="text" data-date-format="yyyy-mm-dd" ng-model="data.accountExpiredDate" name="employeeCode" db-validator="required" ng-maxlength="100" class="form-control" placeholder="账户有效期" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.accountExpiredDate.$invalid && submited ">{{$dbForm.accountExpiredDate.msg}}</span>

                                    </div>-->
                                    <date-time></date-time>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.realnameZh.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    用户名称(中文)
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.realnameZh" name="realnameZh" ng-maxlength="128" class="form-control" placeholder="用户名称(中文)" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.realnameZh.$invalid && submited ">{{$dbForm.realnameZh.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.telephone.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                   电话
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.telephone" name="telephone" ng-maxlength="100" class="form-control" placeholder="电话" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.telephone.$invalid && submited ">{{$dbForm.telephone.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.officePhone.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    办公电话
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.officePhone" name="officePhone" ng-maxlength="100" class="form-control" placeholder="办公电话" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.officePhone.$invalid && submited ">{{$dbForm.officePhone.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.location.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    地址
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.location" name="location" class="form-control" placeholder="地址" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.location.$invalid && submited ">{{$dbForm.location.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.description.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    描述
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.description" name="description" class="form-control" placeholder="描述" ng-maxlength="255"  ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.description.$invalid && submited ">{{$dbForm.description.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    是否可编辑
                                </label>
                                <div class="col-md-9 control-label">
                                    <div class="input-group">
                                        <div class="checker">
                                            <span ng-class="{'checked':data.editable}">
                                                <input type="checkbox" ng-model="data.editable" class="form-control" name="editable" checked="true" value="1"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6  margin-top-15">
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.employeeCode.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    员工号
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.employeeCode" name="employeeCode" db-validator="required" ng-maxlength="100" class="form-control" placeholder="员工号" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.employeeCode.$invalid && submited ">{{$dbForm.employeeCode.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm.depement.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    所属部门
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group" >
                                        <input type="text" ng-click="departmentTree()" ng-model="data.department" name="description"  placeholder="新致软件" ng-maxlength="255"  ng-readonly="true"/>
                                        <div ng-if="showTree1" style="position: absolute;z-index:100000;" id="specialTree">
                                            <db-tree></db-tree>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    密码是否有效
                                </label>
                                <div class="col-md-9 control-label">
                                    <div class="input-group">
                                        <div class="checker">
                                            <span ng-class="{'checked':data.credentialExpired}">
                                                <input type="checkbox" ng-model="data.credentialExpired" class="form-control" name="credentialExpired" checked="true" value="1"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    账户状态
                                </label>
                                <div class="col-md-9 control-label">
                                    <div class="input-group">
                                        <div class="checker">
                                            <span ng-class="{'checked':data.accountExpired}">
                                                <input type="checkbox" ng-model="data.accountExpired" class="form-control" name="accountExpired" checked="true" value="1"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.realnameEn.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    用户名称(英文)
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.realnameEn" name="realnameEn" ng-maxlength="128" class="form-control" placeholder="用户名称(英文)"  ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.realnameEn.$invalid && submited ">{{$dbForm.realnameEn.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.mobile.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    手机
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.mobile" name="mobile" db-validator="required" ng-maxlength="100" class="form-control" placeholder="手机" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.mobile.$invalid && submited ">{{$dbForm.mobile.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.fax.$invalid && submited }">
                            <label class="col-md-3 control-label">
                                传真
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" ng-model="data.fax" name="mobile" class="form-control" placeholder="传真" ng-disabled="formDisabled"/>
                                    <span class="help-block" ng-show="dataForm1.fax.$invalid && submited ">{{$dbForm.fax.msg}}</span>
                                    <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                </div>
                            </div>
                        </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.postcode.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    邮编
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.postcode" name="postcode" class="form-control" placeholder="邮编" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm1.postcode.$invalid && submited ">{{$dbForm.postcode.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm1.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" ng-class="{ 'has-error' : dataForm1.postcode.$invalid && submited }">
                                    <label class="col-md-3 control-label">
                                        性别
                                    </label>
                                    <div class="input-group">

                                        <ui-select ng-model="data.gender" name="gender" required  ng-disabled="formDisabled">
                                            <ui-select-match placeholder="性别">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices  repeat="item in gender | selectPropsFilter:{name:$select.search}">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="help-block" ng-show="dataForm.type.$invalid && submited ">不能为空!</span>
                                    </div>
                                </div>
                        </div>

                           <!-- <div class="form-group" ng-class="{ 'has-error' : dataForm.depement.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    性别
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <ui-select ng-model="data.gender" name="gender" ng-disabled="formDisabled">
                                            <ui-select-match placeholder="性别">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices  repeat="item in gender | selectPropsFilter:{name:$select.search}">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="help-block" ng-show="dataForm.gender.$invalid && submited ">不能为空!</span>
                                    </div>
                                </div>



                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn " ng-class="{'btn-primary':formDisabled,'btn-danger':!formDisabled}" ng-show="editData" type="button" ng-click="changeEdit()">
            {{formDisabled?'编辑':'取消'}}
        </button>
        <button class="btn btn-primary" type="submit" ng-show="!editData||!formDisabled">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>